header{
	text-align: center;
	font-weight: bold;
}

footer{
	text-align: center;
	font-style: italic;
}
ul{
	background-color: #d2d2d2;
}
li{
	padding: 14px 16px;
}
p{
	text-align: center;
	font-weight: bold;
}


